.containerUser {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
}

.contentUser {
  width: 80%;
  height: 80%;
  overflow-y: auto;
  box-shadow: 0 1px 2px #0003;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.menuTitleUser {
  margin: 10px auto 10px auto;
  text-align: center;
  font-size: 28px;
}

.contentUser p {
  margin: 10px auto 10px auto;
  text-align: center;
  font-size: 18px;
}

.userImage {
  width: 100px;
  margin: auto;
  display: block;
}

.editIcon {
  width: 25px;
  float: right;
}

.appIconContainer {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.appIconU {
  width: 45px;
  margin: 5px;
  filter: grayscale(75%) brightness(50%);
}

.appIconU.selected {
  filter: none;
}

.modalU {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-contentU {
  width: 80%;
  height: 25%;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalU button {
  margin: auto 20px;
  float: left;
}

.modalTitleU {
  font-size: larger;
}
